body {
    background-color: white;
    font-family: Verdana;
    margin: auto;
    width: 50%;
    border: 3px solid #970391;
    padding: 10px;


}
h2 {
    color: #ff00e6;
    text-align: center;
}
p {
    color: #656769;
    text-align: center;

}

button {
    background-color: #ff00e6;
    width:40%;
    margin-left: 30%;
    margin-right: 30%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

img{
    max-width: 50%;
}

input[type=file]{
    padding: 10px;
}

.beer{
    margin-top: 100px;
    margin-bottom: 100px;
    transform: rotate(90deg);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.resultTitle{
    font-size: smaller;
    text-align: center;
}

.resultText{
    font-size: smaller;
    text-align: center;
}